html {
    height: 100vh;
}

body {
    font: 14px "Roboto", Futura, sans-serif;
    color: #dddddd;
    margin: 0 20px;
    background: rgb(33, 37, 43);
    height: 100vh;
}

ol, ul {
    padding-left: 30px;
    list-style-type: none;
}

#root {
    height: 100vh;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    font: 14px "Roboto Black", Futura, sans-serif;
    color: #ac8bf0;
    background: rgb(40, 42, 54);
    border: 1px solid rgb(79, 214, 88);
    float: left;
    font-size: 72px;
    font-weight: bold;
    line-height: 102px;
    height: 102px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 102px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-info {
    display: flex;
    flex-flow: column;
    justify-content: start;
    min-width: 260px;
    margin-left: 30px;
}

.main {
    display: flex;
    flex-flow: row;
}